:root {
    --mainBg: #2A4BA0;
    --secBg: #374278;
    --mainText: #2B2B2B;
    --secText: #8891A5;
    --pageBg: #f4f6f9;
}

.sidebar {
    height: 100%;
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--mainBg);
}

    .sidebar a {
        color: white !important;
    }

    .sidebar .nav-link:hover {
        background-color: rgba(255,255,255,0.1) !important;
    }

    .sidebar li {
        width: 100%;
        margin: 4% 0;
    }

.content-wrapper {
    margin-left: 250px;
}

    .content-wrapper > .content {
        padding: 0 2%;
    }

.content-header {
    padding: 2.5rem 1rem;
}


    .content-header h1 {
        font-size: 2.5rem;
        margin: 0;
    }

.bg-danger, .bg-danger > a {
    color: white !important;
}

.small-box {
    border-radius: .25rem;
    box-shadow: 0 0 1px rgba(0,0,0,.125),0 1px 3px rgba(0,0,0,.2);
    display: block;
    margin-bottom: 20px;
    position: relative;
}

    .small-box > .small-box-footer {
        background-color: rgba(0,0,0,.1);
        color: rgba(255,255,255,.8);
        display: block;
        padding: 3px 0;
        position: relative;
        text-align: center;
        text-decoration: none;
        z-index: 10;
    }

        .small-box > .small-box-footer:hover {
            background-color: rgba(0,0,0,.15);
        }

    .small-box > .inner {
        padding: 10px;
    }


.card-header {
    background-color: transparent;
    border-bottom: 1px solid rgba(0,0,0,.125);
    padding: 0.75rem 1.25rem;
    position: relative;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
}

.card-title {
    float: left;
    font-size: 1.1rem;
    font-weight: 400;
    margin: 0;
}

body {
    background-color: #F7F7F9;
}

.modal-dialog {
    max-width: 80%;
    width: 50%;
}
